<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />


    <title>Need Assistance?</title>
</head>

<body>
    <nav>
        <div class="wrapper-nav">

            <ul>
                <li><a href="homepage.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="cart.html">Shopping Cart</a></li>
                <li><a href="account.html">My Account</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li>
                    <form class="search-bar-top" action="#">
                        <input type="text" name="search" placeholder="  Look something up..">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <contact>
        <p>This website is developed and maintained by Kumar Harsh. Should you have any questions, feel free to mail at harshkumar81@gmail.com</p>
    </contact>
</body>

</html>