<html>

<head>
    <link rel='stylesheet' href='/static/css/style.css'>
    <link rel='stylesheet' href='/static/css/materialize.min.css'>
    <script type='text/javascript' src='/static/js/jquery-3.4.1.min.js'></script>
    <script type='text/javascript' src='/static/js/materialize.min.js'></script>
    <script type='text/javascript' src='/static/js/masonry.pkgd.min.js'></script>

    <title>Testing stuff</title>
</head>

<body background='/static/images/cat-shop.jpg'>
    <nav>
        <div class="wrapper-nav">

            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
                <li><a href="/account">My Account</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <form class="search-bar-top" action="#">
                    <li><input type="text" name="search" placeholder="  Look something up.."></li>
                </form>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class='section'>
            <div class="row">
                <div class="row">
                    <div class="col s12">
                        <div class="cat-head">
                            <h1 class='#dd2c00 deep-orange-text accent-4'>Choose your category</h1>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="col s12">

                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/men/sports'><img src="/static/images/men-sports.jpg"></a>
                                <span class="card-title">Sports</span>
                            </div>
                            <div class="card-content">
                                <p>Play hard</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/men/formal'><img src="/static/images/men-formal.jpg"></a>
                                <span class="card-title">Formal</span>
                            </div>
                            <div class="card-content">
                                <p>Mark your presence</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/men/running'><img src="/static/images/men-sports.jpg"></a>
                                <span class="card-title">Running</span>
                            </div>
                            <div class="card-content">
                                <p>Unlocking the next level</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/men/casual'><img src="/static/images/men-casual.jpg"></a>
                                <span class="card-title">Casual</span>
                            </div>
                            <div class="card-content">
                                <p>Take it easy</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col s6">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/women/formal'><img src="/static/images/women-formal.jpg"></a>
                                <span class="card-title">Formal</span>
                            </div>
                            <div class="card-content">
                                <p>Own your life</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/women/casual'><img src="/static/images/women-casual.jpg"></a>
                                <span class="card-title">Casual</span>
                            </div>
                            <div class="card-content">
                                <p>Carefree and independent</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/women/heels'><img src="/static/images/women-heels.jpg"></a>
                                <span class="card-title">Heels</span>
                            </div>
                            <div class="card-content">
                                <p>Strong and steady</p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href='/shop/women/casual'><img src="/static/images/women-sports.jpg"></a>
                                <span class="card-title">Sports</span>
                            </div>
                            <div class="card-content">
                                <p>Never give up</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</body>

</html>